 body { background: grey;}
        #wrap { width: 1150px; margin: 0 auto;
                /*border: 1px solid black;*/ }
        header, main, footer, nav, #leftboard, #mainboard {
                /*border: 1px solid red;*/ }


        header { height: 125px; width 1150px;
                 background: #81c147 }
        header h1 {height: 125px; width: 225px; margin-top: 0px;
                   background: purple; float: left;}
        header div { float: right;}
        header span {clear: both;}
        header ul {float: right}
        header li {float: left; padding: 5px;
                   font-size: 14px;}
        header input { width: 480px; height: 20px;
                       padding: 4px;
                       margin: 50px 0px 0px 120px;
                       border: 3px solid green;}
        header button {background-color: green;
                       width: 60px;
                       padding: 4px;
                        box-shadow: 3px 3px 0px 1px darkgreen;
                       color: white;
                       border: 3px solid green;}


        nav { background: black; height: 30px;}
        nav ul { padding-bottom: 3px; float: left;}
        nav li { padding: 20px; float: left;
                 margin-top: -35px; margin-left: 40px;
                 color: white;}


        #leftboard { margin-top: -17px; float: left;
                    /*border: 1px solid red;*/
                     width: 225px; background: yellow;}
        #leftboard #mngacc { margin: 10px 10px 10px 20px;
                             float:left;}
        #leftboard #mngacc li { padding: 5px; font-size: 10px;
                                float: left;}
        #leftboard hr {clear: both;}
        #leftboard #mnglogin {float: left;
                                 margin: 10px 0px 10px 10px;}
        #leftboard #mnglogin li {float: left; font-size: 15px;}
        #leftboard #mnglogin #checkbox {width: 20px;}
        #leftboard input {  margin: 0px 0px 10px 10px;
                            padding: 5px;
                            float:left; width: 100px;}
        #leftboard button { width: 80px; height: 70px;
                            float: right; margin-top: -40px;
                            margin-right: 10px;}
        #leftboard #notice { /*border: 1px solid black;*/
                             padding-top: 70px;
                             clear: both;}
        #leftboard h3 { background: black; color: white;}
        #leftboard #notice ul{margin-left: 30px;}
        #leftboard #notice li{font-size: 14px;
                              padding: 3px;
                             /* background: url(/img/001-ethiopia.png) no-repeat top left;*/
                              }
        #leftboard #notice p { margin-bottom: 0px}


        #mainboard { width: 915px; float: right;
                     margin: -17px -1px 0px 0px;
                     background: #ffad5c}
        #mainboard h1 { font-size: 70px;}
        #mainboard aside {  width:890px; margin-left: 10px;
                            margin-top: -20px;
                            background: #bbe8d5;}
        #mainboard p {  margin-left: 30px; width: 590px;
                        font-size: 20px
                        /*border: 1px solid black;*/}
        #mainboard p:last-child {padding-bottom: 100px;}


        #board1 { float: left; width: 440px;
                  height: 450px;
                  margin-left: 10px;
                  background: white;
                  /*border: 1px solid black;*/}
        #board1 h3 {background: #7b7bef;
                    margin-top: 0px;
                    padding: 5px;}
        #board1 li { padding: 10px; }


        #board2 { float: right; width: 440px;
                  height: 450px;
                  margin-right: 15px;
                  background: white;
                  /*border: 1px solid black; */}
        #board2 h3 {background: #2ad333;
                    margin-top: 0px;
                    padding: 5px;
        }
        #board2 li { padding: 10px; }


        section:nth-child(3){ clear: both; }
        #gallery {border: 1px solid black;
                  height: 400px; width: 890px;
                  margin-left: 10px;
                  margin-top: 490px;
                  margin-bottom: 50px;
                  background: beige;}
        #gallery h3 {background:  darkmagenta;
                     color: white;
                     margin-top: 0;
                     padding: 5px;}
        #gallery ul{margin: 0px 0px 0px 40px;}
        #gallery li{float: left; width: 150px;
                    height: 150px;
                    margin-right: 15px;
                    padding-bottom: 20px;

                    /*border: 1px solid black;*/}
        #gallery div{ background: white;
                      border: 3px dotted black;
                      height: 100px; }


        footer { background: green; clear: both;
                 height: 180px;}
        footer ul { clear: both; background: blue; height: 35px;
                    border: 1px solid blue;}
        footer li { padding: 20px; float: left;
                    margin-top: -12px;
                    margin-left: 40px;
                    color: white;}
        footer #empty {float: left;
                       /*border: 1px solid black;*/
                       margin-top: -9px;
                       background: purple;
                       height: 140px; width: 225px;}
        footer p {float: right;
                  margin: 70px 10px -70px 0px;}
